.user-container
{
 height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 14px;
  user-select: none;
}

.user-container .left
{
  margin-left: 20px !important;
  display: inline-block;

}
.user-container .left p{
  padding: 0;
}
